<a href="api/passwords/{{id}}">
	<div class="row single-entry">
		<div class="site d-flex justify-content-evenly p-2">
			<img src="" alt="favcon" id="{{website}}" class="favcon" />
			<h4 id="website-name">{{website}}</h4>
		</div>
	</div>
</a>