<a href="">
	<div class="row single-entry">
		<div class="site d-flex justify-content-evenly p-2">
			{{! TODO add favcon grabber }}
			<img src="/assets/img/Google__G__Logo.svg.png" alt="" />
			<h4>{{website}}</h4>
		</div>
	</div>
</a>