<h3 class="dashboard-title display-3">{{website}}</h3>
<div class="dashboard-email d-flex">
	<p class="m-1"><strong>Email:</strong></p>
	<p class="m-1">{{websiteEmail}}</p>
</div>
<div class="dashboard-username d-flex">
	<p class="m-1"><strong>Username:</strong></p>
	<p class="m-1">{{websiteUsername}}</p>
</div>
<div class="dashboard-password d-flex">
	<p class="m-1"><strong>Password:</strong></p>
	<p class="m-1">{{websitePassword}}</p>
</div>
<div class="dashboard-btns">
	<button class="btn btn-success">Edit</button>
	<button class="btn btn-danger">Delete</button>
</div>