<header>
	<div class="headerwrapper">
		<img src="/assets/img/virtual guardian.png" alt="logo" class="header-logo" />
		<div class="d-flex flex-column align-items-center">
			<h1 id="header-title">Virtual Guardian</h1>
			<img src="/assets/img/virtual guardian.png" alt="logo" class="mobile-logo" />
			<p id="user-greeting">Hello {{session.user_name}}!</p>
			<div>
				<a href="/dashboard"><button class="btn btn-success">Add</button></a>
				<a href="/dashboard"><button class="btn btn-danger">Logout</button></a>
			</div>
		</div>
		<img src="/assets/img/virtual guardian.png" alt="logo" class="header-logo" />
	</div>
</header>