<header>
	<div class="headerwrapper">
		<img
			src="/assets/img/virtual guardian.png"
			alt="logo"
			class="header-logo"
		/>
		<div class="d-flex flex-column align-items-center">
			<h1 id="header-title">Virtual Guardian</h1>
			<p id="user-greeting">Hello {{userName}}!</p>
			<div>
				<button class="btn btn-success">Add</button>
				<button class="btn btn-danger">Logout</button>
			</div>
		</div>
		<img
			src="/assets/img/virtual guardian.png"
			alt="logo"
			class="header-logo"
		/>
	</div>
</header>