{{> headers/logged-in}}

<main class="container-fluid">
	<div class="row">
		<!-- Entries -->
		<div class="entries col-3">
			{{#each posts}}
		{{> entry}}
			{{/each}}
		</div>

		<!-- Dashboard -->
		<div class="main-dash col-9 d-flex flex-column align-items-center">
			{{!-- If viewing entry --}}
			{{!-- {{> dashboard/dashboard-view}} --}}

			{{!-- If editing entry --}}
			{{> dashboard/dashboard-add}}

		</div>
	</div>
</main>

<script src="/assets/javascript/favcon.js"></script>