{{> headers/logged-in}}

<main class="container-fluid">
	<div class="row">
		<!-- Entries -->
		<div class="entries col-3">
			{{#each posts}}
			{{> entry}}
			{{/each}}
		</div>

		<!-- Dashboard -->
		<div class="main-dash col-9 d-flex flex-column align-items-center">
		
			{{> dashboard/dashboard-edit}}
		
		
			
		
		
		</div>
	</div>
</main>

<script src="/assets/javascript/favcon.js"></script>