{{> headers/logged-in}}

<main class="container-fluid">
	<div class="row">
		<!-- Entries -->
		<div class="entries col-3">
			{{#each posts}}
			<a href="api/passwords/{{id}}">
				<div class="row single-entry">
					<div class="site d-flex justify-content-evenly p-2">
						<img src="" alt="favcon" id="favcon" class="fa fas-google" />
						<h4 id="website-name">{{website}}</h4>
					</div>
				</div>
			</a>
			{{/each}}
		</div>

		<!-- Dashboard -->
		<div class="main-dash col-9 d-flex flex-column align-items-center">
			{{!-- If viewing entry --}}
			{{!-- {{> dashboard/dashboard-view}} --}}

			{{!-- If editing entry --}}
			{{> dashboard/dashboard-add}}

		</div>
	</div>
</main>

<script src="/assets/javascript/favcon.js"></script>