{{>headers/login-signup}}

<main>
	<div class="card border-success p-2 dash-card login-signup-card ">
	<form action="submit" class="d-flex flex-column align-items-end m-3">
		<h2 class="display-2">Login</h2>
		<div class="login-username d-flex mt-2">
			<label for="username">Username: </label>
			<input type="text" id="username" />
		</div>
		<div class="login-password d-flex mt-2">
			<label for="password">Password: </label>
			<input type="password" id="password" />
		</div>
		<div class="login-btn align-self-center mt-5">
			<button class="btn btn-success">Login</button>
		</div>
	</form>

	<div class="google-login align-self-center mt-5">
		<a href="">
			<button class="btn btn-success">Login with Google | <img class="google-logo" src="./assets/img/Google__G__Logo.svg.png" alt=""></button>
		</a>
	</div>

	<div class="d-flex mt-2 justify-content-center">
		<p>New to our site? | </p>
		<a href="">| Sign Up Here</a>

	</div>
</div>	

</main>